#home {
    height: 100vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../assets/background.png");
    background-size: cover;
}

.presentation {
    margin-top: 18vh; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.name {
    width: 70vh; 
}

#contact-but {
    cursor: pointer;
    margin: 10vh; 
    padding: 0.5em 1.2em; /* Reduced padding */
    border: 2px solid #ffffff; /* Reduced border width */
    position: relative;
    overflow: hidden;
    background-color: transparent;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.8vh; /* Reduced font size */
    transition: 0.3s;
    z-index: 1;
    font-family: "Futura ND Demibold", Sans-serif;
    font-weight: 800;
    color: #ffffff;
}

#contact-but::before {
    content: "";
    width: 0;
    height: 300%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background: #ffffff;
    transition: 0.5s ease;
    display: block;
    z-index: -1;
}

#contact-but:hover::before {
    width: 105%;
}

#contact-but:hover {
    color: #111;
}

.whoami {
    font-family: "Futura ND Demibold", Sans-serif;
    font-size: 2vh;
    color: #ffffff;
    margin: 0.5vh 0 0 0; 
    letter-spacing: 0.2vh; 
    font-weight: 800;
}

.arrow {
    opacity: 0.9;
    color: #ffffff;
    width: 6vh; 
    height: 6vh; 
    cursor: pointer;
    position: absolute;
    bottom: 5vh; 
}

.arrow:hover {
    opacity: 1;
    scale: 1.1;
}

@media (max-width: 480px) {
    .name {
        width: 100%;
        max-width: 40vh;
    }

    #contact-but {
        margin: 5vh;
        padding: 0.4em 1em; /* Reduced padding */
        font-size: 1.6vh; /* Reduced font size */
    }

    .whoami {
        font-size: 1.4vh;
    }

    .arrow {
        width: 5.5vh;
        height: 5.5vh;
        bottom: 5vh;
    }

    @media (max-width: 320px) {
        .whoami {
            font-size: 1.2vh;
        }
    }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
    .name {
        width: 90%;
        max-width: 55vh;
    }
    
    #contact-but {
        margin: 5vh;
        padding: 0.4em 1em; /* Reduced padding */
        font-size: 1.6vh; /* Reduced font size */
    }

    .whoami {
        font-size: 1.6vh;
    }

    .arrow {
        width: 5vh;
        height: 5vh;
        bottom: 5vh;
    }
}

@media screen and (min-width: 768px) and (max-width: 1500px) {
    .presentation {
        margin-top: 14vh;
    }    

    .name {
        width: 65vh;
    }

    .whoami {
        font-size: 1.8vh;
    }
}
